{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "endOfLine": "crlf",
  "trailingComma": "none",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
