{
  order image_filter before file_server
}

# CDN Snippet
(cdn) {
  uri strip_prefix /cdn
  root * Radon-Games-Assets
  file_server

  @thumbnail {
    path_regexp thumb /.+\.(jpg|jpeg|png|gif|bmp|tif|tiff|webp)$
    query w=*
    query h=*
  }

  image_filter @thumbnail {
    resize {query.w} {query.h}
  }
}

# Website Snippet
(radon) {
  tls internal
  encode gzip

  handle /bare/* {
    uri strip_prefix /bare
    reverse_proxy 127.0.0.1:8080
  }

  handle /cdn/* {
    import cdn
  }

  handle {
    root * Radon-Games/dist/public
    try_files {path} /index.html
    file_server
  }
}

:80 {
  import radon
}
