<footer class="flex justify-center px-4 text-gray-800 bg-white">
  <div class="container py-6 flex flex-col items-center justify-between mt-6 md:flex-row">
    <div>
      <a href="#" class="text-xl font-bold text-gray-800 hover:text-gray-700">Radon Games</a>
    </div>

    <div class="flex mt-4 md:m-0">
      <div class="-mx-4">
        <a href="https://github.com/ericksoncohen/radon-games" target="_blank" class="px-4 text-sm font-medium text-gray-800 hover:text-gray-700 hover:underline">GitHub</a>
        <a href="/report" class="px-4 text-sm font-medium text-gray-800 hover:text-gray-700 hover:underline">Bug Report</a>
        <a href="/request" class="px-4 text-sm font-medium text-gray-800 hover:text-gray-700 hover:underline">Game Request</a>
        <a href="/changes" class="px-4 text-sm font-medium text-gray-800 hover:text-gray-700 hover:underline">Changelog</a>
      </div>
    </div>
  </div>
</footer>
