<!-- Meta -->
<title>Radon Games</title>
<link rel="icon" href="/favicon.ico">
<meta name="description" content="An open-source unblocked games website built with simplicity in mind.">
<meta name="keywords" content="radon,games,radon games,unblocked,unblocked games,html games,html5 games,flash games,flashplayer games">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- CSS -->
<link href="/css/build.css" rel="stylesheet">

<!-- Scripts -->
<script>
function getSettings () {
  return localStorage.getItem("settings") ? JSON.parse(atob(localStorage.getItem("settings"))) : {
    "tab-cloak": false,
    "tab-cloak-text": "Google",
    "tab-cloak-icon": "https://google.com/favicon.ico",
    "analytics": true,
  };
}
</script>
<script defer src="/js/script.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8517735295733237"
     crossorigin="anonymous"></script>
<script src="/uv/uv.bundle.js"></script>
<script src="/uv/uv.config.js"></script>
<script>
  window.navigator.serviceWorker.register("/sw.js", {
    scope: __uv$config.prefix
  });
</script>