<!-- Meta -->
<title id="title">Radon Games</title>
<link id="icon" rel="icon" href="/img/favicon.ico" type="image/png">
<meta name="description" content="An open-source unblocked games website built with simplicity in mind.">
<meta name="keywords" content="radon,games,radon games,unblocked,unblocked games,html games,html5 games,flash games,flashplayer games">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Scripts/CSS -->
<script defer src="/js/script.js"></script>
<link href="/css/build.css" rel="stylesheet">

<!-- Goat Counter -->
<script data-goatcounter="https://radon-games.goatcounter.com/count"
     async src="//gc.zgo.at/count.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0GR0HN1RFL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag("js", new Date());
  gtag("config", "G-0GR0HN1RFL");
</script>