<!-- Meta -->
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#1F2937">

<title>Radon Games</title>
<meta property="og:title" content="Radon Games"/>

<link rel="icon" href="/favicon.ico"/>
<meta property="og:image" content="/img/icons/128.png"/>
<link rel="apple-touch-icon" href="/img/icons/128.png"/>

<meta name="robots" content="index, follow">
<meta name="revisit-after" content="7 days">

<meta name="description" content="An open-source unblocked games website built with simplicity in mind.">
<meta property="og:description" content="An open-source unblocked games website built with simplicity in mind."/>
<meta name="keywords" content="radon,games,radon games,unblocked,unblocked games,html games,html5 games,flash games,flashplayer games,proxy,io">
<meta name="language" content="English">

<!-- CSS -->
<link href="/css/build.css" rel="stylesheet">

<!-- Scripts -->
<script>
function getSettings () {
  return localStorage.getItem("settings") ? JSON.parse(atob(localStorage.getItem("settings"))) : {
    "tab-cloak": false,
    "tab-cloak-text": "Google",
    "tab-cloak-icon": "https://google.com/favicon.ico",
    "analytics": true,
    "tab-cloak-mode": "hidden",
    "url-cloak": "disabled",
  };
}
</script>
<script defer src="/js/script.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8517735295733237"
     crossorigin="anonymous"></script>
<script src="/uv/uv.bundle.js"></script>
<script src="/uv/uv.config.js"></script>
<script>
  window.navigator.serviceWorker.register("/uv.sw.js", {
    scope: __uv$config.prefix
  });
</script>