<nav class="shadow-md bg-gray-800">
  <div class="container flex items-center justify-center p-6 mx-auto capitalize text-gray-300">
      <a class="mx-4 sm:mx-6 border-b-2 border-transparent transition-colors duration-200 transform hover:text-gray-100 hover:border-amber-500" href="/">home</a>
      <a class="mx-4 sm:mx-6 border-b-2 border-transparent transition-colors duration-200 transform hover:text-gray-100 hover:border-amber-500" href="/games">games</a>
      <a class="mx-4 sm:mx-6 border-b-2 border-transparent transition-colors duration-200 transform hover:text-gray-100 hover:border-amber-500" href="/request">request</a>
  </div>
</nav>