<nav class="shadow-md bg-gray-800 px-20">
  <div class="container py-5 mx-auto flex items-center justify-center">
    <div class="items-center flex">
      <div class="flex flex-col md:flex-row md:mx-6">
        <a class="text-center my-1 text-sm font-medium transition-colors text-gray-100 duration-200 transformtext-gray-200 hover:text-amber-500 md:mx-4 md:my-0" href="/">Home</a>
        <a class="text-center my-1 text-sm font-medium transition-colors text-gray-100 duration-200 transformtext-gray-200 hover:text-amber-500 md:mx-4 md:my-0" href="/games">Games</a>
        <a class="text-center my-1 text-sm font-medium transition-colors text-gray-100 duration-200 transformtext-gray-200 hover:text-amber-500 md:mx-4 md:my-0" href="/apps">Apps</a>
        <a class="text-center my-1 text-sm font-medium transition-colors text-gray-100 duration-200 transformtext-gray-200 hover:text-amber-500 md:mx-4 md:my-0" href="/request">Request</a>
      </div>
    </div>
  </div>
</nav>