<nav class="bg-white shadow dark:bg-gray-800">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
    <a href="/" class="border-b-2 border-transparent hover:text-gray-800 transition-colors transform dark:hover:text-gray-200 hover:border-blue-500 mx-6">home</a>
    <a href="/games" class="border-b-2 border-transparent hover:text-gray-800 transition-colors transform dark:hover:text-gray-200 hover:border-blue-500 mx-6">games</a>
    <a href="/request" class="border-b-2 border-transparent hover:text-gray-800 transition-colors transform dark:hover:text-gray-200 hover:border-blue-500 mx-6">request</a>
  </div>
</nav>