<nav class="bg-white shadow">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize">
    <a href="/" class="border-b-2 border-transparent hover:text-gray-800 transition-colors transform hover:border-blue-500 mx-6">home</a>
    <a href="/games" class="border-b-2 border-transparent hover:text-gray-800 transition-colors transform hover:border-blue-500 mx-6">games</a>
    <a href="/request" class="border-b-2 border-transparent hover:text-gray-800 transition-colors transform hover:border-blue-500 mx-6">request</a>
  </div>
</nav>