<h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl text-center mt-5 mb-2">Search</h1>
<div class="items-center flex">
  <div class="block m-auto">
    <input id="searchbar" list="search" class="w-64 block px-4 py-2 text-gray-200 bg-gray-800 rounded-md border-blue-400 ring-blue-300 outline-none ring ring-opacity-40"/>
    <div id="dropdown" class="hidden w-64 text-base list-none bg-gray-800 rounded divide-y divide-gray-100 shadow-md">
      <ul class="py-1">
      <% games.all.map((game, index) => { %>
        <li class="h-auto block py-2 px-4 text-sm text-gray-300 hover:bg-gray-600">
          <a href="/game<%= game.route %>"><%= game.title %></a><br/>
        </li>
      <% }); %>
      </ul>
    </div>
  </div>
</div>
        
<script>
String.prototype.levenstein = function (string) {
  var a = this,
    b = string + "",
    m = [],
    i,
    j,
    min = Math.min;
  if (!(a && b)) return (b || a).length;
  for (i = 0; i <= b.length; m[i] = [i++]);
  for (j = 0; j <= a.length; m[0][j] = j++);
  for (i = 1; i <= b.length; i++) {
    for (j = 1; j <= a.length; j++) {
      m[i][j] = b.charAt(i - 1) == a.charAt(j - 1)
        ? m[i - 1][j - 1]
        : m[i][j] = min(
          m[i - 1][j - 1] + 1, 
          min(m[i][j - 1] + 1, m[i - 1 ][j] + 1));
    }
  }
  return m[b.length][a.length];
}

function sort (arr, string) {
  let newArr = [];
  let temp = [];
  arr.forEach((item) => {
    temp.push([
      item,
      item.innerText.toLowerCase().levenstein(string.toLowerCase())
    ]);
  });
  temp = temp.sort(function(a, b) {
    return a[1] - b[1];
  });
  temp.forEach((item) => {
    newArr.push(item[0]);
  });
  return newArr;
}

let items = document.querySelectorAll("#dropdown ul li");
let link;
let input = document.getElementById("searchbar");
let dropdown = document.getElementById("dropdown");
input.addEventListener("input", (e) => {
  if(!input.value) {
    dropdown.classList.add("hidden");
  } else {
    dropdown.classList.remove("hidden");
    let newArr = sort(items, input.value);
    for(let i = 0; i < newArr.length; i++) {
      document.querySelector("#dropdown ul").appendChild(newArr[i]);
      if(i === 0) {
        link = newArr[i].querySelector("a").href;
      }
      if (i <= 9) {
        newArr[i].classList.remove("hidden");
      } else {
        newArr[i].classList.add("hidden");
      }
    }
  }
});
input.addEventListener("keypress", (e) => {
  if (e.key === "Enter") {
    if (link) {
      window.location.href = link;
    }
  }
});
</script>