<h1 class="text-2xl font-semibold text-gray-800 lg:text-3xl text-center mt-5">Search</h1>
<div class="items-center flex">
  <div style="display: block;margin: auto;">
    <input id="searchbar" list="search" class="block px-4 py-2 text-gray-700 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
    <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow">
      <ul class="py-1">
      <% for(var i = 0; i < games.all.length; i++) { %>
        <li class="h-10 hidden">
          <a href="/game<%= games.all[i].route %>" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-300"><%= games.all[i].title %></a><br/>
        </li>
      <% } %>
      </ul>
    </div>
  </div>
</div>
<script>
  let dropdown = document.getElementById("dropdown");
  let searchbar = document.getElementById("searchbar");
  let items = document.querySelectorAll("#dropdown ul li");
  settings = window.localStorage.getItem("settings") || {}

  function charToColor(char, brightness){
    let n = char.charCodeAt(0) - 65;
    return 'hsl('+(n/25)*360+','+brightness+'%,70%)';
  }
  
  searchbar.addEventListener("input", (e) => {
    if(!searchbar.value) {
      dropdown.classList.add("hidden");
    } else {
      dropdown.classList.remove("hidden");
      items.forEach((item) => {
        if(item.children[0].innerText.toLowerCase().includes(searchbar.value.toLowerCase())) {
          item.classList.remove("hidden");
          let str = searchbar.value.toLowerCase();
          let itemStr = item.children[0].innerText.toLowerCase();
          let output;
          if(settings.searchColors) {
            output = itemStr.replace(str, '<span style="background:'+charToColor(str[0], 100)+';" class="rounded">'+str+'</span>');
          } else {
            output = itemStr.replace(str, '<span class="bg-yellow-400 rounded">'+str+'</span>');
          }
          item.children[0].innerHTML = output;
        } else {
          item.classList.add("hidden");
        }
      });
    }
  });
</script>