<h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl text-center mt-5 mb-2">Search</h1>
<div class="items-center flex">
  <div class="block m-auto">
    <input id="searchbar" list="search" class="w-64 block px-4 py-2 text-gray-200 bg-gray-800 rounded-md border-blue-400 ring-blue-300 outline-none ring ring-opacity-40"/>
    <div id="dropdown" class="hidden w-64 text-base list-none bg-gray-800 rounded divide-y divide-gray-100 shadow-md">
      <ul class="py-1">
      <% games.all.map((game, index) => { %>
        <li key={index} class="hidden h-auto block py-2 px-4 text-sm text-gray-300 hover:bg-gray-600">
          <a href="/game<%= game.route %>"><%= game.title %></a><br/>
        </li>
      <% }); %>
      </ul>
    </div>
  </div>
</div>
<script>
  let dropdown = document.getElementById("dropdown");
  let searchbar = document.getElementById("searchbar");
  let items = document.querySelectorAll("#dropdown ul li");
  
  searchbar.addEventListener("input", (e) => {
    if(!searchbar.value) {
      dropdown.classList.add("hidden");
    } else {
      dropdown.classList.remove("hidden");
      items.forEach((item) => {
        if(item.children[0].innerText.toLowerCase().includes(searchbar.value.toLowerCase())) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    }
  });
</script>