@tailwind base;
@tailwind components;
@tailwind utilities;

a.expand {
  position: relative;
}

a.expand::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 64px;
  background-color: var(--accent);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

a.expand:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
