html[data-theme="default"] {
  --background: #111827;
  --background-secondary: #1f2937;
  --text: #f3f4f6;
  --text-secondary: #e5e7eb;
  --accent: #f59e0b;

  .logo-light {
    display: none;
  }
}

html[data-theme="light"] {
  --background: #f3f4f6;
  --background-secondary: #e5e7eb;
  --text: #111827;
  --text-secondary: #1f2937;
  --accent: #f59e0b;

  .logo-dark {
    display: none;
  }
}

html[data-theme="latte"] {
  --background: #dce0e8;
  --background-secondary: #eff1f5;
  --text: #4c4f69;
  --text-secondary: #6c6f85;
  --accent: #df8e1d;

  .logo-light {
    display: none;
  }
}

html[data-theme="frappe"] {
  --background: #232634;
  --background-secondary: #303446;
  --text: #c6d0f5;
  --text-secondary: #a5adce;
  --accent: #df8e1d;

  .logo-light {
    display: none;
  }
}

html[data-theme="macchiato"] {
  --background: #181926;
  --background-secondary: #24273a;
  --text: #cad3f5;
  --text-secondary: #a5adcb;
  --accent: #eed49f;

  .logo-light {
    display: none;
  }
}

html[data-theme="mocha"] {
  --background: #11111b;
  --background-secondary: #1e1e2e;
  --text: #cdd6f4;
  --text-secondary: #a6adc8;
  --accent: #f9e2af;

  .logo-light {
    display: none;
  }
}
