<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <img class="block mx-auto w-64 mt-16 mb-6" src="/img/void.svg" alt="404"/>
    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl text-center mb-32"><span class="text-amber-500">404</span> Page Not Found</h1>
    
    <%- include("../components/footer") %>
  </body>
</html>