<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <%- include("../components/game" )%>
    
    <%- include("../components/footer") %>
  </body>
</html>