<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Partners</h1>

    <section>
      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
          <div class="flex items-center justify-center md:w-48">
          </div>

          <div>
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/ubg100.png" alt="UBG100"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">UBG100</h3>
              </div>
            </div>
            <p class="text-gray-200">
              <b>UBG100</b> is a hub for the best games on the internet, all available for free! There is so much for you to choose from.<br><br>
              Website: <a href="https://ubg100.github.io/" target="_blank" class="text-blue-500 hover:underline">https://ubg100.github.io/</a><br>
              Discord: <a href="https://discord.gg/yXJgyuByYZ" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/yXJgyuByYZ</a>
            </p>
          </div>

          <div>
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/gamehub.gif" alt="Game Hub"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">Game Hub</h3>
              </div>
            </div>            
            <p class="text-gray-200">
              <b>Game Hub</b>, an unblocked games website with games ranging from shooting games, to driving/car games, w/proxies and so much more! Play now!<br><br>
              Website: <a href="https://www.goodeducation.gq/" target="_blank" class="text-blue-500 hover:underline">https://www.goodeducation.gq/</a><br>
              Discord: <a href="https://discord.gg/Fnc7hJZpC8" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/Fnc7hJZpC8</a>
            </p
          </div>

          <div class="flex items-center justify-center md:w-48">
          </div>
        </div>
      </div>
    </section>
    
    <%- include("../components/footer") %>
  </body>
</html>