<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Partners</h1>

    <section>
      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 place-items-center">

          <div class="w-96">
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/ubg100.png" alt="UBG100"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">UBG100</h3>
              </div>
            </div>
            <p class="text-gray-200">
              <b>UBG100</b> is a hub for the best games on the internet, all available for free! There is so much for you to choose from.<br><br>
              Website: <a href="https://ubg100.github.io/" target="_blank" class="text-blue-500 hover:underline">https://ubg100.github.io/</a><br>
              Discord: <a href="https://discord.gg/yXJgyuByYZ" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/yXJgyuByYZ</a>
            </p>
          </div>

          <div class="w-96">
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/gamehub.png" alt="Game Hub"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">Game Hub</h3>
              </div>
            </div>            
            <p class="text-gray-200">
              <b>Game Hub</b>, an unblocked games website with games ranging from shooting games, to driving/car games, w/proxies and so much more! Play now!<br><br>
              Website: <a href="https://www.goodeducation.gq/" target="_blank" class="text-blue-500 hover:underline">https://www.goodeducation.gq/</a><br>
              Discord: <a href="https://discord.gg/Fnc7hJZpC8" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/Fnc7hJZpC8</a>
            </p
          </div>

        </div>
      </div>

    </section>


    <section>

      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 place-items-center">

          <div class="w-96 blur-sm select-none">
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/calco-proxy.png" draggable="false" alt="Calco Proxy"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">CalcoProxy</h3>
              </div>
            </div>
            <p class="text-gray-200">
              We try to make sys-admins shit there pants, literally.<br>Username: <b>Blooket</b><br>Password: <b>certified</b><br><br>
              Website: <span href="https://blooket-is.certified.cl/" target="_blank" class="text-blue-500 hover:underline cursor-pointer">https://blooket-is.certified.cl/</span><br>
              Discord: <span href="https://discord.gg/7GGgwJRcCw" target="_blank" class="text-blue-500 hover:underline cursor-pointer">https://discord.gg/7GGgwJRcCw</span>
            </p>
          </div>

          <div class="w-96">
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/nebula.png" alt="Nebula Services"/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">Nebula Services</h3>
              </div>
            </div>            
            <p class="text-gray-200">
              <b>Nebula</b> is the biggest proxy community server, 3rd to TN and Ludicrous. Our stunning proxy is clean, incredibly fast, constantly updated and has reliable with little down time.<br><br>
              Website: <a href="https://neb.jangomango.repl.co/" target="_blank" class="text-blue-500 hover:underline">https://neb.jangomango.repl.co/</a><br>
              Discord: <a href="https://discord.gg/Nvuf6zDdWy" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/Nvuf6zDdWy</a>
            </p
          </div>

        </div>
      </div>
    </section>


    <section>

      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 place-items-center">

          <div class="w-96">
            <div class="content flex py-2">
              <img class="w-8 h-8" src="/img/astral.png" alt="Astral Network "/>
              <div class="item-body px-2">
                <h3 class="text-xl font-bold text-gray-200">Astral Network</h3>
              </div>
            </div>
            <p class="text-gray-200">
              Features include Beautiful Front-End UI, Ultraviolet Backend, Lightning Fast Speeds, About:Blank Cloak , Kahoot Proxy, Lucid Proxy, Premium & Free Domains<br><br>
              Website: <a href="https://lucidofficial.xyz/" target="_blank" class="text-blue-500 hover:underline">https://lucidofficial.xyz/</a><br>
              Discord: <a href="https://discord.gg/XgQsUJKdAb" target="_blank" class="text-blue-500 hover:underline">https://discord.gg/XgQsUJKdAb</a>
            </p>
          </div>

        </div>
      </div>
    </section>
    
    <%- include("../components/footer") %>
  </body>
</html>