<!DOCTYPE html>
<html>
  <head>
    <%-include("../components/head")%>
  </head>
  <body>
    <%-include("../components/nav")%>

    <label class="block">
      <input class="mr-2 leading-tight p-10" type="checkbox">
      <span class="text-lg">
        Tab auto-hide
      </span>
    </label>
    
    <%-include("../components/footer")%>
  </body>
</html>