<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h2 class="text-3xl font-semibold text-center text-gray-200 mt-10">Settings</h2>

    <div class="max-w-4xl p-6 mx-auto">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <div>
          <label class="text-gray-200">Tab Cloak</label>
          <select id="tab-cloak" class="block w-full px-4 py-2 mt-2 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
            <option value="true">Enabled</option>
            <option value="false">Disabled</option>
          </select>
        </div>

        <div>
          <label class="text-gray-200">Analytics Tracking</label>
          <select id="analytics" class="block w-full px-4 py-2 mt-2 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
            <option value="true">Enabled</option>
            <option value="false">Disabled</option>
          </select>
        </div>

        <div>
          <label class="text-gray-200">Tab Cloak Text</label>
          <input id="tab-cloak-text" type="text" class="block w-full px-4 py-2 mt-2 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        </div>

        <div>
          <label class="text-gray-200"">Tab Cloak Icon</label>
          <input id="tab-cloak-icon" type="text" class="block w-full px-4 py-2 mt-2 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        </div>

        <div>
          <label class="text-gray-200">Tab Cloak Mode</label>
          <select id="tab-cloak-mode" class="block w-full px-4 py-2 mt-2 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
            <option value="hidden">On Tab Hide</option>
            <option value="always">Always on</option>
          </select>
        </div>

        <div>
          <label class="text-gray-200">URL Cloaking</label>
          <select id="url-cloak" class="block w-full px-4 py-2 mt-2 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:ring-blue-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
            <option value="disabled">Disabled</option>
            <option value="blank">About Blank</option>
            <option value="data">Data URL (Experimental)</option>
            <option value="blob">Blob URL (Experimental)</option>
          </select>
        </div>
      </div>

      <div class="flex justify-center mt-6">
        <button onclick="update();" class="px-4 py-2 text-gray-200 transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save</button>
      </div>
      
    </div>

    <script>
      window.settings = getSettings();
      document.getElementById("tab-cloak").value = settings["tab-cloak"] ? "true" : "false";
      document.getElementById("analytics").value = settings["analytics"] ? "true" : "false";
      document.getElementById("tab-cloak-text").value = settings["tab-cloak-text"];
      document.getElementById("tab-cloak-icon").value = settings["tab-cloak-icon"];
      document.getElementById("tab-cloak-mode").value = settings["tab-cloak-mode"];
      document.getElementById("url-cloak").value = settings["url-cloak"];

      function update () {
        settings["tab-cloak"] = (document.getElementById("tab-cloak").value.toLowerCase() === "true");
        settings["analytics"] = (document.getElementById("analytics").value.toLowerCase() === "true");
        settings["tab-cloak-text"] = document.getElementById("tab-cloak-text").value;
        settings["tab-cloak-icon"] = document.getElementById("tab-cloak-icon").value;
        settings["tab-cloak-mode"] = document.getElementById("tab-cloak-mode").value;
        settings["url-cloak"] = document.getElementById("url-cloak").value;
        localStorage.setItem("settings", btoa(JSON.stringify(settings)));
        location.reload();
      }
    </script>
    
    <%- include("../components/footer") %>
  </body>
</html>