<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
    <script src="uv/uv.bundle.js"></script>
    <script src="uv/uv.config.js"></script>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Support</h1>

    <p class="text-center mb-10 text-gray-300 w-3/5 m-4 block mx-auto">Support Radon Games on <a class="underline hover:text-amber-500 cursor-pointer" href="https://www.patreon.com/Radon_Games" target="_blank">Patreon</a>!</p>

    <h2 class="text-xl font-semibold text-gray-200 lg:text-2xl m-10 text-center">Tier 1 Supporters</h2>
    <p class="text-center text-gray-200">Rowan FL</p>
    
    <%- include("../components/footer") %>
  </body>
</html>
