<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
    <script src="uv/uv.bundle.js"></script>
    <script src="uv/uv.config.js"></script>
  </head>
  <body>
    <%- include("../components/nav") %>

    <h1 class="text-2xl font-semibold text-gray-200 lg:text-3xl m-10 text-center">Terms/Privacy</h1>

    <section class="text-gray-200 mx-8 md:mx-32">
      <i>April 17, 2022</i><br><br>

      Because Radon Games is an open source project we cannot confirm weather the current URL complies with these terms/policies.
      All URLs listed in the <span class="underline">#links</span> channel in our <a class="underline" href="https://discord.gg/C2fbK35Rhg" target="_blank">Discord server</a> comply with these terms/policies.<br><br>

      No personal information is collected unless supplied through our <a class="underline" href="/request">Request</a> and <a class="underline" href="/report">Report</a> forms.<br><br>

      The following information may be stored in the browser using cookies, local storage, session storage, and or any other related technologies.<br>
      - User preferences.<br>
      - Popup status'.<br>
      - Other information from Google and GoatCounter.<br><br>

      Email <a class="underline" href="mailto:contact@radon.games" target="_blank">contact@radon.games</a> to request all information collected about you, or to request removal of all information.<br><br>

      <h3 class="text-2xl font-semibold text-gray-200">Sharing with third parties</h3><br>
      <hr><br>
      No information is shared with third parties.<br><br>

      <h3 class="text-2xl font-semibold text-gray-200">DMCA Claims</h3><br>
      <hr><br>
      If you have a claim email <a class="underline" href="mailto:contact@radon.games" target="_blank">contact@radon.games</a> to request takedown.<br><br>

      <h3 class="text-2xl font-semibold text-gray-200">Using radon.games or any other affiliated products or domains.</h3><br>
      <hr><br>
      Analytics is handled by <a class="underline" href="https://analytics.google.com/" target="_blank">Google Analytics</a> and <a class="underline" href="https://goatcounter.com/" target="_blank">GoatCounter</a>. See their privacy policies.<br>
      - <a class="underline" href="https://policies.google.com/privacy" target="_blank">Google Privacy Policy</a><br>
      - <a class="underline" href="https://www.goatcounter.com/help/privacy" target="_blank">GoatCounter Privacy Policy</a><br><br>

      <h3 class="text-2xl font-semibold text-gray-200">Changes to the policy</h3><br>
      <hr><br>
      We may make changes to this policy with at least one week notice. Notice will be delivered via a popup notification.
    </section>
      
    
    <%- include("../components/footer") %>
  </body>
</html>