@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable user drag */
* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Dotted background*/
.dots {
  background-image: radial-gradient(white 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}

/* Used for emulator games */
#game canvas {
  margin: 0 auto;
  display: block;
}
