@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
}

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#game canvas {
  margin: 0 auto;
  display: block;
}
