@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #e2e8f0;
  --accent-primary: #f59e0b;
  --accent-secondary: #3730a3;
  --error: #ef4444;
}

code {
  @apply rounded-md bg-black bg-opacity-50 p-1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  @apply px-6 md:px-16 lg:px-32 xl:px-48;
}
